attrs
beautifulsoup4
certifi
charset-normalizer
exceptiongroup
greenlet
h11
idna
outcome
pip
playwright
pyee
PySocks
python-dotenv
requests
selenium
setuptools
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wheel
wsproto
